{{!< base}} 

<div class="centered-container">
    <form class="form form-decorated form-login">
        <h2>{{login_form.title}}</h2>
        {{>inputfields/inputfields inputfields=login_form.inputfields}}

        {{> 'button/button' text=login_form.submit_label}}
        <a class="link link-block" href="{{login_form.link.url}}">{{login_form.link.text}}</a>
    </form>
</div>
