.chat-container {
  @apply h-full flex items-center;
}

.chat-list {
  @apply shrink-0  h-full pt-3 flex flex-col bg-clean shadow-blue shadow-2xl overflow-hidden z-10;

  &, &__header, .chat-search, &__items {
    @apply w-[310px];
  }

  &__header {
    @apply flex py-0 px-3 justify-between mb-5;
  }

  &__logo {
    @apply -mt-1 w-[87px];
  }

  &__items {
    @apply px-3;
  }

  &__container {
    @apply h-full overflow-y-auto overflow-x-hidden;
  }

  &__item {
    @apply h-20 border-b border-b-pearl;

    &:hover {
      @apply bg-gradient-to-r from-clean via-sky-faint to-clean;
    }

    &.selected {
      @apply bg-sky-faint;
    }
  }

  &__profile-button {
    @apply flex items-center;
    .caption {
      @apply text-pink font-bold text-xs mr-2 hidden;
      
    }
    &:hover .caption {
      @apply block;
    }
    .btn {
      @apply cursor-pointer w-8 h-8;
      @apply bg-[url(/src/assets/Profile_icon.svg)] bg-no-repeat bg-contain;
    }
  }

  &-collapsed {
    @apply relative w-[60px] cursor-pointer;
    .chat-search, .chat-list__container {
      @apply pointer-events-none opacity-0;
    }
    .chat-list__logo .hideable {
      @apply opacity-0;
    }

    &:after {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-11 h-11 content-["_"];
      @apply bg-[url(/src/assets/Expand-icon.svg)] bg-no-repeat bg-center;
    }
  }
}

.chat-search {
  @apply relative px-3;
  &__button {
    @apply w-4 h-4 bg-[url(/src/assets/Search-icon.svg)] bg-no-repeat bg-contain;
    @apply absolute bottom-8 right-3;
  }
}

.chat-list-item {
  &__link {
    @apply p-3 w-full h-full flex items-center relative;
  }

  &__avatar {
    @apply w-14 h-14 rounded-full mr-3;

    &-noimage {
      @apply bg-gradient-to-b from-sky-light to-sky;
    }
  }

  &__text {
    @apply grow  m-0;

    strong {
      @apply text-black;
    }
  }

  &__title {
    @apply text-sm text-black mb-1;
  }

  &__recent {
    @apply text-xs text-navy;
  }

  &__info {
    @apply shrink-0 flex flex-col justify-between items-end h-full;
  }

  &__unread {
    @apply bg-pink w-5 h-5 rounded-full text-clean font-bold text-xs;

    @apply flex items-center justify-center;
  }

  &__time {
    @apply text-black text-[.7rem];
  }
}

.chat-select-notification {
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 50px;
}
