<div class="form-profile__avatar">
    <img class="img" src="/src/assets/{{avatar}}" alt="{{avatar}}" />
    <button class="icon">
        <img src="/src/assets/Edit-icon.svg" />
    </button>
</div>
