<div class="centered-container">
    <form class="form login-form">
        <h2>Мессенджер</h2>
        {{> 'input-field/input-field' label='логин' }}
        {{> 'input-field/input-field' type='password' label='пароль'}}
        {{> 'button/button' submit=true text='Войти'}}
        <a class="link link-block" href="/src/pages/registration.hbs">Еще не зарегистрированы?</a>
    </form>
</div>