.form {
    @apply bg-clean shadow-blue shadow-2xl rounded-tl-[30px] rounded-br-[30px] relative;
 }

.login-form,
.registration-form {
    &:before {
        content:"";
        position: absolute;
        background: url(/src/assets/Logo.svg) no-repeat;
        background-size: contain;
        width: 145px;
        height:58px;
        top:-15px;
        left:-18px;
    }
}

.login-form {
    padding: 86px 32px 64px 64px;
    .inputfield {
        width: 280px;
    }

    .button {
        margin:50px 0 10px;
    }
}

.registration-form {
    padding:34px 32px 32px 64px;
    display: flex;

    .inputfield {
        width: 280px;
    }

    .column {
        &.column1  {
            padding-top: 42px; 
            margin-right:32px;
        }

        &.column2 {
            .button {
                margin:46px 0 10px;
            }
        }
    }

    
}