.chat-container {
    height:100%;
   display:flex;
   align-items:center;
}

.chat-list {
  flex-shrink: 0;
  width:310px;
  height:100%;
  padding-top:12px;
  @apply bg-clean shadow-blue shadow-2xl;
  display:flex;
  flex-direction:column;

  &__header {
    display:flex;
    padding:0 12px;
    justify-content:space-between;
    margin-bottom:20px;
  }

  &__logo {
    margin-top:-5px;
    width:87px;
    height:auto;
  }

  &__profile {
    border:0;
    outline:0;
    cursor:pointer;
    width:30px;
    height:30px;
    background:url(/src/assets/Profile_icon.svg) no-repeat;
    background-size: contain;
  }



  &__items {
    margin: 0;
    padding: 0 12px;
  }

  &__container {
    overflow-x: hidden;
  }

  &__item {
    height: 80px;
    @apply border-b border-b-pearl;
    padding: 12px 0;
    margin: 0;
    list-style: none;
    display:flex;
    align-items:center;
    position: relative;
  }

  
}

.chat-list-item {
    
    
    &__avatar,
    &__noavatar {
        width:58px;
        height:58px;
        border-radius:999px;
        margin-right:12px;
    }
    &__noavatar {
      @apply bg-gradient-to-b from-sky-light to-sky;
    }

    &__text {
      flex-grow:1;
    }

    &__title,
    &__latest {
      font-size:14px;
      margin:0;
      @apply text-black;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__unread {
        @apply bg-pink;
        width:20px;
        height:20px;
        border-radius:10px;
        color:white;
        font-weight:bold;
        font-size:12px;
        display:flex;
        align-items: center;
        justify-content: center;

    }

    &__time {
         font-size:11px;
    }

}

.chat-select-notification {
  font-weight: bold;
  color: white;
  text-align: center;
  margin:50px;
}