@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../assets/fonts/Manrope-Bold.woff2) format('woff2');
}
