{{!< page-list}} 

<div class="centered-container">
    <nav class="main-nav">
        <ul>
            {{#each main_nav }}
            <li><a target="_blank" href="/src/pages/{{url}}.hbs">{{title}}</a></li>
            {{/each }}
        </ul>
    </nav>
</div>
