.inputfield { 
  @apply mb-2 flex flex-col-reverse;

  &__label, &__input {
    @apply    transition-transform duration-200;
  }

  &__label {
    @apply text-silver relative text-[0.7rem] mb-[5px];
  }

  &__input {
    @apply text-black;
    font-size: 20px;
    line-height: 28px;
    display: block;
    margin-top: -5px;
    padding: 0;

    @apply outline-none border-b border-b-silver;

    &.error {
      @apply border-b border-b-orange;
    }

    &:focus {
      @apply outline-none border-b-black;
    }

    &:placeholder-shown+label {
      @apply pointer-events-none origin-bottom-left;
      transform: translate(0, 1.75rem) scale(1.81818);
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      @apply cursor-default;
      transform: translate(0, 0) scale(1); 
    }

    &:disabled {
      @apply text-silver opacity-70 bg-clean;
    }
    &:disabled + label {
      @apply cursor-default; 
    }
  }

  &__message {
    height: 12px;
    margin-top: 2px;
    font-size: 12px;

    @apply text-orange;
  }
}

input,textarea { 
  &::placeholder {
    transition: inherit;
    color: transparent !important;
  }
}


