.button {
    background: linear-gradient(180deg, var(--color-brand_pink-lt) 0%, var(--color-brand_pink) 100%);;
    padding: 7px 24px;
    color: white;
    font-weight: bold;
    border:0;
    outline:0;
    cursor: pointer;
    border-radius: 100px;
}

.button-primary {

}